.blog_fail {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blog > .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 12px;
}

.blog > .title a.subscribe_link {
    font-size: 13px;
    opacity: 0.3;
    color: grey;
}

.blog .title a.subscribe_link:hover {
    opacity: 1.0;
    color: green;
    text-decoration: none;
}

.blog > .title a.unsubscribe_link {
    font-size: 13px;
    opacity: 0.3;
    color: grey;
}

.blog .title a.unsubscribe_link:hover {
    opacity: 1.0;
    color: red;
    text-decoration: none;
}

.blog .title a {
    color: #333333;
}

.blog .title a:hover {
    text-decoration: none;
}

.no_posts {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.blog > .title a.subscribe_link,
.blog > .title a.unsubscribe_link {
    -webkit-transition: opacity linear 0.3s, color linear 0.3s;
    -moz-transition: opacity linear 0.3s, color linear 0.3s;
    -o-transition: opacity linear 0.3s, color linear 0.3s;
}

