input#id_link {
    width: 80%;
    height: 50px;
    font-size: 30px;
}

textarea#id_text {
    width: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input#id_title, input#id_tags {
    height: 25px;
    width: 80%;
}

.add_form .preview_place {
    border: 3px solid #aaa;
    padding: 5px;
    margin-bottom: 10px;
}
