.comment .user .photo a img {
    max-height: 40px;
}

.comment .user .photo {
    float: left;
}

.comments .comment {
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
    overflow: hidden;
    word-wrap: break-word;
}

.comment_container + .comment_container {
    margin-top: 10px
}

.comment .text {
    margin-top: 5px;
    font-family: "Philosopher", sans-serif;
}

.comment .user a img {
    margin-right: 10px;
}

.comment .user div.username a {
    color: grey;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: grey;
    font-size: 13px;
}

.comment .user div.username {
    float: left;
    margin-right: 10px;
}

.comment .info {
    font-size: 13px;
    color: grey;
}

.comment .info a.username {
    color: grey;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: grey;
}

.comment_form .form_buttons {
    background: 0;
    border: 0;
    padding: 0;
    margin-top: 5px;

}

.comment_form .form_buttons a {
    font-size: 20px;
    font-weight: bold;
}

.comment_form {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.comment_form button {
    float: left;
}

.comment_form textarea {
    margin-left: 0;
}

.comment_form button {
    height: 30px;
    min-width: 100px;
    width: auto;
    font-size: 13px;
}

.comment_form button + button {
    margin-left: 10px;
}

.comment_form .field_label {
    text-align: left;
}

.comment_form .field_act {
    margin-left: 0;
}

.comment_form .field_label {
    width: auto;
    margin-right: 10px;
}

.comment a.response_link {
    border-bottom: 1px dotted;
    font-size: 13px;
}

.comment a.response_link:hover {
    text-decoration: none;
    color: #06a;
}

.preview_place {
    margin-bottom: 15px;
}

.write_tlc_link {
    display: inline-block;
    border-bottom: 1px dotted;
    font-size: 20px;
    margin-top: 10px;
}

a.write_tlc_link:hover {
    text-decoration: none;
}

.comment_form {
    overflow: hidden;
}