body {
    background: url(../images/bg.png);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: #08C;
}

a:hover, a:active {
    text-decoration: underline;
}

li {
    line-height: 18px;
}

.main_container .content {
    border-right: 1px solid #ddd;
    padding: 15px 100px 15px 15px;
    width: 30%;
    text-align: center;
    float: left;
}

.links_l_r a + a {
    border-left: 1px solid grey;
}

.links_l_r a {
    padding-left: 5px;
    padding-right: 3px;
}

.links_l_r {
    text-align: center;
}

.header {
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
    text-align: center;
}

.loading {
    background-image: url(../images/loading.gif);
}

.main_container {
    width: 95%;
    margin: 0 auto;
    padding: 8px;
}

.welcome_card {
    float: left;
    margin-left: 1%;
    overflow: hidden;
    padding: 30px;
}

.welcome_card h1 {
    border: 0;
    font-size: 30px;
    margin: 0;
    line-height: 1;
}

.welcome_card p {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}
