﻿body {
    background: url(../images/bg.png);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: #08C;
}

a:hover, a:active {
    text-decoration: underline;
}

li {
    line-height: 18px;
}

.header {
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
    text-align: center;
}

.main_container {
    width: 95%;
    margin: 0 auto 10px;
    overflow: hidden;
    min-height: 600px;
}

.pages {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loading {
    background-image: url(../images/loading.gif);
}

.disabled {
    color: grey;
}

.pages .current {
    font-weight: bold;
}

#to_top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: 2px solid #ddd;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.clear {
    clear: both;
}

.main_footer {
    border-top: 1px solid #dedede;;
    text-align: center;
    width: 100%;
    padding: 7px 0;
    clear: left;
}

.main_footer a,
.main_footer span {
    color: #aaa;
    font-size: 13px;
}

.content {
    float: left;
    width: 75%;
    border-right: 1px solid #dedede;
    padding: 0 5px;
}

.tools {
    list-style: none;
    margin-left: 77%;
    width: 24%;
}

.tools > div + div {
    border-top: 1px solid #dedede;;
}
.core_tools {
    padding-top: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.extra_tools {
    margin-bottom: 5px;
}

.search_container {
    padding-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.search_container button {
    margin-left: 3px;
}

.main_container > * {
    padding-top: 2px;
}
