input, button, textarea, select {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0;
}

input:hover, textarea:hover, select:hover {
    border: 1px solid #aaa;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid #777;
}

button {
    padding: 7px 10px;
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 19px;
    -webkit-transition: background-color linear 0.25s;
    -moz-transition: background-color linear 0.25s;
    -o-transition: background-color linear 0.25s;
}

button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #dddddd;
    -webkit-transition: box-shadow linear 0.25s;
    -moz-transition: box-shadow linear 0.25s;
    -o-transition: box-shadow linear 0.25s;
}

button:hover {
    background: #dddddd;
    -webkit-transition: background linear 0.25s;
    -moz-transition: background linear 0.25s;
    -o-transition: background linear 0.25s;
}

/*label {*/
    /*display: block;*/
/*}*/

input, textarea, select {
    -webkit-transition: border linear 0.25s, box-shadow linear 0.25s;
    -moz-transition: border linear 0.25s, box-shadow linear 0.25s;
    -o-transition: border linear 0.25s, box-shadow linear 0.25s;
    outline: none;
}

button {
    outline: none;
}

.field_error {
    color: #B94A48;
}

.field_e input, .field_e textarea, .field_e select {
    -webkit-transition: border linear 0.25s, box-shadow linear 0.25s;
    -moz-transition: border linear 0.25s, box-shadow linear 0.25s;
    -o-transition: border linear 0.25s, box-shadow linear 0.25s;
    border: 1px solid #B94A48;
}

.field_e > .field_label, .field > .field_label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}

.field_e .field_act, .field .field_act {
    margin-left: 180px;
}

.field + .field,
.field_e + .field_e,
.field_e + .field,
.field + .field_e {
    margin-top: 10px;
}


.form_buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.field_e #cke_id_text {
    border: 1px solid #d59392;
}

.search_form * {
    float: left;
 }

.search_form input#id_search {
    height: 20px;
    width: 200px;
    margin-right: 0;
}

.search_form button {
    height: 28px;
    padding: 3px 5px;
    font-size: 15px;
}
