.friends .no_friends {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.friends {
    padding: 3px;
    overflow: hidden;
    word-wrap: break-word;
}

.friend {
    padding-bottom: 10px;
    clear: both;
}

.friend + .friend {
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.friend .photo {
    float: left;
    margin-right: 10px;
}

.friend .username a {
    color: #08C;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.friend .username a:hover {
    text-decoration: underline;
}

