.menu_add {
    list-style: none;
    border: 1px solid #ccc;
    padding: 5px;
    background: #fff;
}

.menu_add > li {
    margin-right: 5px;
}

.active {
    font-weight: bold;
}

.blog_info {
    padding: 5px;
    margin-bottom: 5px;
}

.blog_info .title {
    font-weight: bold;
    font-size: 21px;
}

.blog_info .title a {
    color: black;
}

.core_tools .mini_profile .mini_photo img {
    max-height: 100px;
}

.core_tools .mini_profile .mini_photo {
    float: left;
    margin-right: 5px;
}

.core_tools .mini_profile .user_info .username a {
    font-size: 24px;
    color: black;
}
