.navbar {
    font-size: 14px;
    color: #888;
    padding-bottom: 7px;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
}

.navbar .right {
    margin-top: 9px;
    float: right;
}

.navbar .right a + a {
    border-left: 1px solid #dedede;
}

.navbar a, .navbar a:visited {
    color: #888;
}

.navbar a:hover, .navbar a:active {
    color: black;
    text-decoration: none;
}

.navbar .right a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .nav {
    float: left;
}

.navbar .nav > ul {
    list-style: none;
    height: auto;
}

.navbar .nav li {
    display: block;
    float: left;
    padding-right: 10px;
}

.navbar li + li {
    border-left: 1px solid #dedede;
    padding-left: 10px;
}

.navbar .nav {
    padding-left: 10px;
}

.navbar a.logo {
    margin-top: -5px;
    float: left;
    display: block;
    font-size: 24px;
    color: #aaa;
}

.navbar a.logo:hover {
    color: black;
}

.navbar .mini_profile_container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background: #f5f5f5;
    overflow: hidden;
}

.navbar .mini_profile_container .profile_photo {
    height: 100px;
    float: left;
    border-radius: 5px;
    margin-right: 5px;
}

.navbar .mini_profile_container .mini_profile {
    list-style: none;
}

.navbar .upm_counter {
    background: red;
    padding: 1px 2px;
    border-radius: 2px;
    color: white;
}

.navbar .mini_photo {
    display: inline-block;
    overflow: hidden;
}

.navbar .mini_photo img {
    max-height: 20px;
    vertical-align: top;
}

.navbar ul {
    margin: 0;
}

.navbar li {
    margin-top: 10px;
}

.navbar .beta-icon {
    font-size: 15px;
}
