.post .fail {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;
}

.post {
    overflow: hidden;
    word-wrap: break-word;
}

.post_container {
    border-bottom: 1px solid #dedede;;
    padding: 0 0 5px;
}

.post_container + .post_container {
}


.post_container .mini_photo {
    -webkit-transition: box-shadow linear 0.3s;
    -moz-transition: box-shadow linear 0.3s;
    -o-transition: box-shadow linear 0.3s;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 3px;
}

.post_container .mini_photo:hover {
    -webkit-transition: box-shadow linear 0.3s;
    -moz-transition: box-shadow linear 0.3s;
    -o-transition: box-shadow linear 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.post_container .tfo {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #DDDDDD;
    float: left;
    margin-top: 15px;
}

.post .title a {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
}

.post .title a:hover {
    text-decoration: none;
}

.post .read_more_link {
    font-size: 13px;
    opacity: 0.3;
}

.post .read_more_link:hover {
    opacity: 1.0;
    text-decoration: none;
    color: black;
}

.post .tags a {
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    opacity: 0.3;
}

.post .tags a:hover {
    opacity: 1.0;
    text-decoration: none;
}

.post .text {
    margin-bottom: 10px;
}

.post .footer {
    float: right;
    font-size: 13px;
    color: grey;
    margin-right: 10px;
}

.post .actions span {
    float: right;
}

.post .actions a {
    font-size: 13px;
    color: grey;
    opacity: 0.3;
}

.post .actions span + span {
    margin-right: 10px;
}

.post .actions a.delete_link:hover {
    opacity: 1.0;
    text-decoration: none;
    color: red;
}

.post .actions a.edit_link:hover {
    opacity: 1.0;
    text-decoration: none;
    color: green;
}

.post .actions span.likes_count {
    font-size: 13px;
    opacity: 0.3;
    color: grey;
}

.post .actions span.likes_count:hover {
    opacity: 1.0;
    color: black;
}

.post .actions a.read_more_link,
.post .actions a.delete_link,
.post .actions a.edit_link,
.post .actions a.like_link,
.post .actions a.unlike_link,
.post .actions span.likes_count {
    -webkit-transition: opacity linear 0.3s, color linear 0.3s;
    -moz-transition: opacity linear 0.3s, color linear 0.3s;
    -o-transition: opacity linear 0.3s, color linear 0.3s;
}

.post .actions a.like_link:hover {
    color: blue;
    text-decoration: none;
    opacity: 1.0;
}

.post .actions a.unlike_link:hover {
    color: red;
    text-decoration: none;
    opacity: 1.0;
}

.post .text {
    font-family: sans-serif;
}

blockquote {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 5px solid #CCCCCC;
    font-style: italic;
}

.post .link a {
    color: #08C;
}

.post .link a:hover {
    text-decoration: underline;
}

.post .footer .likes_count {
    display: none;
}

.post .head * {
    font-weight: bold;
}

.tags {
    width: 60%;
}

.post .image img {
    max-height: 300px;
}