.profile {
    overflow: hidden;
    word-wrap: break-word;
}

.profile .photo {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.profile .photo img {
    max-width: 100px;
}

.profile .user_title .username {
    font-size: 30px;
    font-weight: bold;
}

.profile .user_title .name {
    font-size: 24px;
    color: grey;
}

.profile .user_title * {
    display: inline-block;
}

.profile .user_title {
    margin-bottom: 10px;
}

.profile .edit_link {
    float: right;
}

.profile .edit_link a {
    opacity: 0.3;
    -webkit-transition: opacity linear 0.3s, color linear 0.3s;
    -moz-transition: opacity linear 0.3s, color linear 0.3s;
    -o-transition: opacity linear 0.3s, color linear 0.3s;
    color: grey;
}

.profile .edit_link a:hover {
    opacity: 1.0;
    color: green;
    text-decoration: none;
}

.profile .blogs .blog td {
    text-align: center;
}

.profile .blogs_container {
    clear: both;
}

.profile .blogs {
    width: 100%;
}

.actions {
    font-weight: bold;
    font-size: 13px;
}