.registration_form {
    margin-top: 10px;
}

.registration_form .header {
    margin-bottom: 20px;
}

.login_link {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

img.captcha {
    margin-top: 10px;
}