table {
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-spacing: 0;

}

table td + td {
    border-left: 1px solid #ddd;
}

table tbody td {
    vertical-align: middle;
    border-top: 1px solid #ddd;
    padding: 7px;
    text-align: center;
    line-height: 15px;
}

table thead td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    padding: 7px;
    text-align: center;
    line-height: 15px;
}

table thead tr:first-child {
    font-weight: bold;
}

table tbody tr:hover {
    background: #eee;
}

table tr:first-child > td {
    border-top: 0;
}