#w_panel {
    list-style: none;
}

#w_panel li {
    display: inline-block;
}

#w_panel li + li {
    margin-left: 10px;
}

#w_panel a {
    color: black;
}

#w_panel a:hover {
    text-decoration: none;
}

