{% extends "base/base_unauth.html" %}
{% block content %}
    <div class="welcome">
        Добро пожаловать в {{ site_name }}!
    </div>
    <p class="description">
        Sqwab - это социальная сеть c элементами микро-блоггинга.
    </p>
    <div class="links_l_r">
        <a href="/login/">Вход</a>
        <a href="/register/">Регистрация</a>
    </div>
{% endblock content %}
