{% extends "base/base_unauth.html" %}
{% load i18n %}
{% block content %}
    <div class="welcome">
        {% trans "Welcome to" %} {{ site_name }}!
    </div>
    <p class="description">
        {% trans "Sqwab is a social network with microblogging." %}
    </p>
{% endblock content %}
