{% extends "base/base.html" %}
{% load i18n %}
{% block title %}{% trans "Feed" %}{% endblock %}
{% block styles_includes %}
    <link href="{{ STATIC_URL }}styles/feed.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}styles/post.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/post.js"></script>
    <script type="text/javascript" language="javascript">
    $("img").addClass("preview")
    </script>
    {% include "core/highlight.html" %}
{% endblock %}

{% block content %}
    {% if post_feed %}
        {% with post_list=post_feed %}
            {% include "blog/post/post_list.html" %}
        {% endwith %}
    {% else %}
        <div class="nothing">
            {% trans "No news :(" %}
        </div>
    {% endif %}
{% endblock %}
