<link rel="stylesheet" href="{{ STATIC_URL }}highlight/styles/dark.css">
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}highlight/highlight.pack.js"></script>
<script type="text/javascript" language="javascript">hljs.initHighlightingOnLoad();</script>