﻿{% extends "base/base_unauth.html" %}
{% load i18n %}
{% block title %}{% trans "Sign in" %} | {{ site_name }}{% endblock title %}
{% block styles_includes %}
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/login.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/forms.css" type="text/css">
{% endblock %}
{% block login_form %}
    <div class="registration_link"><a href="/registration/">{% trans "Sign up" %}</a></div>
{% endblock %}
{% block content %}
	<div class="login_form_container">
        <div class="header">
            {% trans "Sign in" %}
        </div>
        <form method="POST" action="/login/" class="login_form">
            {% with form=form_auth %}
                {% include "forms/render_form.html" %}
            {% endwith %}
            <input type="hidden" name="next" value="{{ next_url }}" />
            <div class="form_buttons">
                <button type="submit">{% trans "Sign in" %}</button>
            </div>
        </form>
	</div>
    <div class="registration_link">
        <a href="/registration/">{% trans "Sign up" %}</a>
    </div>
{% endblock content %}
