{% extends "base/base_unauth.html" %}
{% load i18n %}
{% block styles_includes %}
    <link href="{{ STATIC_URL }}styles/registration.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}styles/forms.css" rel="stylesheet">
{% endblock %}
{% block login_form %}
    <div class="login_link"><a href="/login/">{% trans "Sign in" %}</a></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/registration.js"></script>
{% endblock %}
{% block content %}
    <div class="reg_form_container">
        <div class="header">
            {% trans "Sign up" %}
        </div>
        <form method="POST" action="/registration/" class="registration_form" autocomplete="off">
            {% with form=form_reg %}
                {% include "forms/render_form.html" %}
            {% endwith %}
            <div class="form_buttons">
                <button type="submit">{% trans "Sign up" %}</button>
            </div>
        </form>
    </div>
    <div class="login_link">
        <a href="/login/">{% trans "Sign in" %}</a>
    </div>
{% endblock %}