{% extends "base/base.html" %}
{% load i18n %}
{% block styles_includes %}
{% endblock %}
{% block content %}
    <div class="settings_form_container">
        <div class="header">
            {% trans "Settings" %}
        </div>
        <form method="POST" action="/settings/" class="settings_form" autocomplete="off">{% csrf_token %}
            {% include "forms/render_form.html" %}
            <div class="form_buttons">
                <button type="submit">{% trans "Change" %}</button>
            </div>
        </form>
    </div>
{% endblock %}