{% extends "base/base.html" %}
{% load user i18n %}
{% block styles_includes %}
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/friends.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="friends">
    {% for friend in friends_list %}
        <div class="friend">
            <div class="actions">
                <div class="remove_friend_link">
                </div>
            </div>
            <div class="photo"><img src="{{ friend.id|get_user_photo_link }}"></div>
            <div class="username"><a href="/profile/{{ friend.id }}/">{{ friend.username }}</a></div>
        </div>
    {% empty %}
        <div class="no_friends">
            {% trans "You have no friends :(" %}
        </div>
    {% endfor %}
    </div>
{% endblock %}