{% extends "base/base.html" %}
{% load blog user i18n %}
{% block title %}{% trans "Profile" %} {{ puser.username }}{% endblock title %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/profile.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/tables.css">
{% endblock %}
{% block content %}
    <div class="profile">
        <div class="photo"><a href="{{ puser.id|get_user_photo_link }}"><img src="{{ puser.id|get_user_photo_link }}"></a></div>
        {% if user == puser %}
            <div class="actions">
                <div class="edit_link">
                    <a href="/profile/edit/">{% trans "edit profile" %}</a>
                </div>
            </div>
        {% endif %}
        <div class="user_title">
            <div class="username">
                {{ puser.username }}
            </div>
            <div class="name">
                {% if puser.get_full_name %}
                    ({{ puser.get_full_name }})
                {% endif %}
            </div>
        </div>
        <div class="email">{% trans "E-mail" %}: {{ puser.email }}</div>
        <div class="blogs_container">
            <div class="blogs_title"></div>
            <table class="blogs">
                <thead>
                    <tr>
                        <td>{% trans "Blog" %}</td>
                        <td>{% trans "Number of subscribers" %}</td>
                        <td>{% trans "Number of posts" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in blog_list %}
                        <tr class="blog">
                            <td class="name"><a href="/blog/{{ blog.id }}/">{{ blog.name }}</a></td>
                            <td class="nom">{{ blog.id|get_number_of_memberships }}</td>
                            <td class="nop">{{ blog.id|get_number_of_posts }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}