{% extends "base/base.html" %}
{% load i18n  %}
{% block styles_includes %}
    <link href="{{ STATIC_URL }}styles/forms.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="pu_form_container">
    <div class="header">
        {% trans "Profile editing" %}
    </div>
    <form method="POST" action="/profile/edit/" class="pu_form" enctype="multipart/form-data">
        {% with form=form_pu %}
            {% include "forms/render_form.html" %}
        {% endwith %}
        <div class="form_buttons">
            <button type="submit">{% trans "Edit" %}</button>
        </div>
    </form>
    </div>
{% endblock %}
