{% extends "base/base.html" %}
{% load text bbcodes search pagination_tags i18n %}
{% block title %}{% trans "Search results for" %} "{{ query }}"{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/search.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/post.css" type="text/css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/post.js"></script>
    {% include "core/highlight.html" %}
{% endblock %}
{% block search_attrs %}
    value="{{ query }}"
{% endblock %}

{% block content %}
    {% if not query %}
        <h3 style="text-align: center;">{% trans "Empty query" %}</h3>
    {% else %}
        <h2 class="search_title">{% trans "Search results for" %} "{{ query }}":</h2>
        <div class="search_results">
            {% autopaginate result %}
            {% for i in result %}
                    {% with post=i search=1 %}
                        {% include "blog/post/render_post.html" %}
                    {% endwith %}
            {% empty %}
                <h2 class="nothing_found" style="text-align: center;">{% trans "No results :(" %}</h2>
            {% endfor %}
        </div>
        <div class="pages">
            {% paginate %}
        </div>
    {% endif %}
{% endblock %}