﻿{% load user i18n cache %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/core.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/menu.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/jgrowl.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/navbar.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/forms.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/tipTip.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css">
    {% block styles_includes %}{% endblock %}
    <script type="text/javascript" language="javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery.tiptip.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/scrollto.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/core.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jgrowl.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/search.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/captcha.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lightbox/js/lightbox.js"></script>
    <script type="text/javascript" language="javascript">
        $.jGrowl.defaults.closer = false;
        $.jGrowl.defaults.position = "bottom-right";
    </script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("*[title]").tipTip();
        })
    </script>
    {% include "core/notifications.html" %}
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% trans "Main page" %}{% endblock %} | {{ site_name }}</title>
</head>
<body>
<div class="navbar">
    <div class="navbar_inner">
        <ul class="nav">
            <li><a href="/" class="logo">{{ site_name }}<sup class="beta-icon">α</sup></a></li>
            <li><a href="{% url sqwab.core.views.friends.get_friends %}" onclick="return a_click(this);">{% trans "My friends" %}</a></li>
            <li><a href="{% url sqwab.core.views.blog.get_blog %}">{% trans "My blog" %}</a></li>
            <li><a href="#">{% trans "My messages" %}{% if pm_unread %}
                <span class="upm_counter">{{ pm_unread }}</span>
            {% endif %}</a>
            <li><a href="{% url sqwab.core.views.usettings.usettings %}">{% trans "Settings" %}</a></li>
            {% if user.is_staff %}
                <li><a href="{% url admin:index %}">{% trans "Admin panel" %}</a></li>
            {% endif %}
            <li>
                <span title="{% trans "Add a post to your main blog" %}">{% trans "Add" %}:</span>
                <a href="{% url sqwab.core.views.blog.add_post_default %}">{% trans "Post" %}</a>&nbsp;
                <a href="{% url sqwab.core.views.blog.add_link_default %}">{% trans "Link" %}</a>&nbsp;
                <a href="#">{% trans "Image" %}</a>&nbsp;
                <a href="#">{% trans "Video" %}</a>&nbsp;
                <a href="#">{% trans "Audio" %}</a>&nbsp;
                <a href="#">{% trans "Note" %}</a>&nbsp;
            </li>
        </ul>
        <div class="right">
            <div class="mini_photo">
                <img src="{{ user.id|get_user_photo_link }}" class="profile_photo"/>
            </div>
            <a href="{% url sqwab.core.views.user.get_profile %}">{{ user.username }}</a>
            <a href="{% url sqwab.core.views.user.log_out %}">{% trans "Logout" %}</a>
        </div>
    </div>
</div>
<div class="main_container">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="tools">
        <div class="search_container">
            <div class="search_form_container">
                <form action="{% url sqwab.core.views.search.search %}" method="GET" class="search_form">
                    <input type="text" id="id_search" placeholder="{% trans "Search..." %}" name="q" {% block search_attrs %}{% endblock %}/>
                    <button type="submit">{% trans "Find" %}</button>
                </form>
            </div>
        </div>
        {% block info %}
        {% endblock %}
        <div class="core_tools">
            <div class="mini_profile">
                <div class="mini_photo">
                    <img src="{{ user.id|get_user_photo_link }}" title="{{ user.username }}">
                </div>
                <div class="user_info">
                    <div class="username">
                        <a href="{% url sqwab.core.views.user.get_profile user.id %}">{{ user.username }}</a>
                    </div>
                    <li><a href="{% url sqwab.core.views.user.edit_profile %}">Редактировать профиль</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main_footer">
    <span class="copyright">© 2012</span>
    <a class="copyright" href="{% url sqwab.core.views.user.get_profile 1 %}">{% trans "Andreev Alexander" %}</a>
    <a class="separator">●</a>
    <a href="{% url sqwab.core.views.main.get_about %}">{% trans "About" %}</a>
    <span class="separator">●</span>
    <a href="#">{% trans "Rules" %}</a>
    <span class="separator">●</span>
    <a href="#">{% trans "Jobs" %}</a>
</div>
<div id="to_top">
    <span>{% trans "Go up" %}</span>
</div>
</body>
</html>