{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/core_u.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/navbar.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/tipTip.css" type="text/css">
    {% block styles_includes %}{% endblock %}
    <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery.tiptip.js"></script>
    <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.form.js"></script>
    <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/captcha.js"></script>
    <script type="text/javascript" laguage="javascript" src="/jsi18n/"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $(".right_tip[title]").tipTip({defaultPosition: "right"});
            $("*[title]").not(".right_tip").tipTip();
        })
    </script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% trans "Main page" %} | {{ site_name }}{% endblock %}</title>
</head>
<body>
<div class="navbar">
    <div class="navbar_inner">
        <ul class="nav">
            <li><a href="/" class="logo">{{ site_name }}<sup class="beta-icon">α</sup></a></li>
            <li><a href="/login/">{% trans "Sign in" %}</a></li>
            <li><a href="/registration/">{% trans "Sign up" %}</a></li>
        </ul>
    </div>
</div>
<div class="main_container">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="welcome_card">
        <h1>Sqwab is a social network</h1>
        <p>Sqwab - world is in contact!</p>
    </div>
</div>
</body>
</html>
