{% extends "base/base.html" %}
{% load i18n %}
{% block title %}{% trans "Blog not found" %} | {{ site_name }}{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/blog.css">
{% endblock %}
{% block content %}
    <div class="blog">
        <div class="blog_fail">
            {% trans "Blog not found!" %}
        </div>
    </div>
{% endblock %}