{% extends "base/base.html" %}
{% load i18n %}
{% block title %}{{ blog.name }}{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/blog.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/post.css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/post.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/blog.js"></script>
    {% include "core/highlight.html" %}
{% endblock %}
{% block content %}
    <div class="blog">
        <div class="title">{{ blog.name }}</div>
        {% if posts %}
            {% with post_list=posts %}
                {% include "blog/post/post_list.html" %}
            {% endwith %}
        {% else %}
            <div class="no_posts">
                {% if owner == user %}
                    {% trans "There are no posts in your blog!" %}
                {% else %}
                    {% trans "Thre are no posts in this blog" %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block tools %}
    {% include "blog/menu.html" %}
    {% if bmsh.can_add_posts %}
        {% include "blog/add/menu.html" %}
    {% endif %}
{% endblock %}

{% block info %}
    {% include "blog/menu_info.html" %}
{% endblock %}