{% load i18n blog %}
<div class="blog_info">
    <div class="title">
        <a href="{% url sqwab.core.views.blog.get_blog blog.id %}">{{ blog.name }}</a>
        {% trans "by" %}
        {% with owner=blog|get_owner %}
            <a href="{% url sqwab.core.views.user.get_profile owner.id %}">{{ owner.username }}</a>
        {% endwith %}
    </div>
    <div class="subscription_action">
        {% if not bmsh.is_creator %}
            {% if not bmsh %}
                <a href="#"
                   class="subscribe_link"
                   onclick="SubscribeBlog({{ blog.id }}, this); return false;">{% trans "subscribe" %}</a>
            {% else %}
                <a href="#"
                   class="unsubscribe_link"
                   onclick="UnsubscribeBlog({{ blog.id }}, this); return false;">{% trans "unsubscribe" %}</a>
            {% endif %}
        {% endif %}
    </div>
    {% if bmsh.is_admin %}
        <div class="settings_link_container">
            <a href="{% url sqwab.core.views.blog.edit_blog %}">{% trans "Blog preferences"%}</a>
        </div>
    {% endif %}
</div>