{% extends "base/base.html" %}
{% block title %}Главный блог не найден | {{ site_name }}{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/blog.css">
{% endblock %}
{% block content %}
    <div class="blog">
        <div class="blog_fail">
            У Вас ещё нет главного блога!
        </div>
    </div>
{% endblock %}