{% extends "base/base.html" %}
{% load i18n %}
{% block title %}{% trans "Post not found" %}{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/post.css">
{% endblock %}
{% block content %}
    <div class="post">
        <div class="fail">
            {% trans "There is no such post in this blog :(" %}
        </div>
    </div>
{% endblock %}