{% load pagination_tags %}
{% autopaginate post_list %}
<script type="text/javascript" language="javascript">
    function update_likes() {
        var post_ids = [{% for post in post_list %} {{ post.id }}, {% endfor %}];
        var request = $.ajax({
            type: "POST",
            url: "/json/post/likes_many/",
            data: "pids=" + post_ids,
            cache: false
        }).success(function(data) {
            var json = $.parseJSON(data);
            var lh = json.likes_human;
            for (var i = 0; i < post_ids.length; i++) {
                set_likes(post_ids[i], lh[i]);
            }
        });
    }
    $(document).ready(function() {
        update_likes();
        setInterval(update_likes, 3000);
    });
</script>
{% for post in post_list %}
    {% include "blog/post/render_post.html" %}
{% endfor %}
<div class="pages">
    {% paginate %}
</div>
