{% extends "base/base.html" %}
{% block title %}Запись удалена | {{ site_name }}{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/post.css">
{% endblock %}
{% block content %}
    <div class="post">
        <div class="post_fail">
            Запись успешно удалена!
        </div>
    </div>
{% endblock %}