{% extends "base/base.html" %}
{% load mptt_tags i18n user %}
{% block title %}{{ post.title }} | {{ post.blog.name }}{% endblock %}
{% block styles_includes %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/blog.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/post.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/forms.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/comments.css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/post.js"></script>
    <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/comments.js"></script>
    {% include "core/highlight.html" %}
{% endblock %}
{% block content %}
    <div class="blog">
        <div class="title"><a href="/blog/{{ post.blog.id }}/">{{ post.blog.name }}</a></div>
        {% include "blog/post/render_post.html" %}
        <div class="comments">
            {% include "blog/post/render_comments.html" %}
        </div>
        <a href="#" class="write_tlc_link" style="display: none;" onclick="reply(0); return false;">{% trans "write comment" %}</a>
        <div class="comment_form_container" id="comment_form_container">
            <form method="POST" action="{% url sqwab.api.views.comments.comment_write %}" class="comment_form">
                <div class="preview_place" style="display:none;"></div>
                {% with form=comment_form without_labels=1 %}
                    {% include "forms/render_form.html" %}
                {% endwith %}
                <div class="clear"></div>
                <div class="form_buttons">
                    <button id="comment_link" onclick="comment_write(this.form); return false;">{% trans "Write" %}</button>
                    <button id="preview_link">{% trans "Preview" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}