{% load user blog text bbcodes i18n %}
<div class="post_container" id="post{{ post.pk }}">
    <div class="owner_photo">
        <a href="/profile/{{ post.author_id }}">
            <img src="{{ post.author_id|get_user_photo_link }}" class="mini_photo" title="{{ post.author }}"/>
        </a>
    </div>
    <div class="tfo"></div>
    <div class="post">
    <div class="head">
        <div class="actions">
            {% if user.is_staff or post.author == user.username or post.blog_id|can_edit_posts:user.id %}
                <span>
                        <a href="#" class="delete_link" onclick="DeletePost({{ post.pk }}); return false;">{% trans "delete" %}</a>
                    </span>
                <span>
                        <a href="/blog/post/{{ post.pk }}/edit/" class="edit_link">{% trans "edit" %}</a>
                    </span>
            {% endif %}
            <span><a href="/blog/post/{{ post.pk }}/" class="read_more_link">{% trans "read" %}</a></span>
            {% if user.id|like_post:post.pk %}
                <span><a href="#" class="unlike_link" onclick="UnlikePost({{ post.pk }}); return false;">{% trans "unlike" %}</a></span>
            {% else %}
                <span><a href="#" class="like_link" onclick="LikePost({{ post.pk }}); return false;">{% trans "like" %}</a></span>
            {% endif %}
        </div>
    </div>
        {% if post.type == "p" %}
            <div class="title">
                {{ post.title }}
            </div>
            <div class="text">{{ post.post_text|safe }}</div>
        {% else %}
            {% if post.type == "l" %}
                <div class="title">
                    <a href="/away/?to={{ post.link|urlquote }}" target="_blank">{{ post.title }}</a>
                </div>
                {% if post_show_all %}
                    <div class="text">{{ post.post_text|bbcodes_render|safe }}</div>
                {% else %}
                    <div class="text">{{ post.post_text|bbcodes_render|safe }}</div>
                {% endif %}
            {% endif %}{% endif %}
        <div class="footer">
            <span class="likes_count"></span>
            <span class="publication_date">{% trans "Publication date" %}: {{ post.publication_date }}</span>
        </div>
        <div class="tags">
            {% for i in post.tags|split_tags %}
                <span class="tag"><a href="/search/?q={{ i|urlquote }}">{{ i }}</a></span>&nbsp;
            {% endfor %}
        </div>
    </div>
</div>