{% load user blog text bbcodes i18n %}
<div class="post_container" id="post{{ post.id }}">
    <div class="post">
    <div class="head">
        <div class="actions">
            {% if not preview and user.is_staff or post.author == user or post.blog.id|can_edit_posts:user.id %}
                <span>
                    <a href="#" class="delete_link" onclick="DeletePost({{ post.id }}); return false;">
                        {% trans "delete" %}
                    </a>
                </span>
                <span>
                    <a href="/blog/{{ post.type }}/{{ post.id }}/edit/" class="edit_link">
                        {% trans "edit" %}
                    </a>
                </span>
            {% endif %}
            {% if not preview %}
                <span>
                    <a href="/blog/post/{{ post.id }}/" class="read_more_link">
                        {% trans "read" %}
                    </a>
                </span>
            {% endif %}
            {% if not preview and user.id|like_post:post.id %}
                <span>
                    <a href="#" class="unlike_link" onclick="UnlikePost({{ post.id }}); return false;">
                        {% trans "unlike" %}
                    </a>
                </span>
            {% elif not preview %}
                <span>
                    <a href="#" class="like_link" onclick="LikePost({{ post.id }}); return false;">
                        {% trans "like" %}
                    </a>
                </span>
            {% endif %}
        </div>
    </div>
        {% if post.type == "p" %}
            <div class="title">
                {% if not preview %}
                    <a href="{% url sqwab.core.views.blog.get_post post.id %}">{{ post.title }}</a>
                {% else %}
                    <a href="#">{{ post.title }}</a>
                {% endif %}
            </div>
        {% else %}{% if post.type == "l" %}
                <div class="title link">
                    <a href="/away/?to={{ post.link|urlquote }}" target="_blank">{{ post.title }}</a>
                </div>
        {% else %}{% if post.type == "i" %}
            <div class="title">
                <a href="{% url sqwab.core.views.blog.get_post post.id %}">{{ post.title }}</a>
            </div>
            <div class="image">
                <a href="{{ MEDIA_URL }}{{ post.image }}" rel="lightbox" title="{{ post.text }}">
                    <img src="{{ MEDIA_URL }}{{ post.image }}">
                </a>
            </div>
        {% endif %}{% endif %}{% endif %}
        {% if search %}
            <div class="text">{{ post.post_text|bbcodes_render }}</div>
        {% else %}
            <div class="text">{{ post.text|bbcodes_render }}</div>
        {% endif %}
        <div class="footer">
            <span class="likes_count"></span>
            <span class="publication_date">{% trans "Publication date" %}: {{ post.publication_date }}</span>
        </div>
        {% if post.tags %}
                {% for i in post.tags|split_tags %}
                    <span class="tag"><i class="icon-tag" style="color: #555;"></i><a href="/search/?q={{ i|urlquote }}">{{ i }}</a></span>&nbsp;
                {% endfor %}
        {% endif %}
    </div>
</div>