{% load i18n user %}
<div{% if not is_preview %} id="comment{{ comment.id }}" style="margin-left: {{ comment.level|add:comment.level|add:comment.level }}0px"{% endif %} class="comment_container">
    <div class="comment">
        <div class="user">
            <div class="photo">
                <a href="{% url core.views.user.get_profile comment.author.id %}">
                    <img src="{{ comment.author.id|get_user_photo_link }}" alt="{% trans "Profile" %} {{ comment.author.username }}">
                </a>
            </div>
            <div class="info">
                <a class="username" href="{% url core.views.user.get_profile comment.author.id %}">{{ comment.author.username }}</a>
                <span class="time">{{ comment.submit_time }}</span>
                {% if not is_preview %}<a href="#comment{{ comment.id }}">#</a>{% endif %}
                {% if is_preview %}<span class="preview_warning">({% trans "Preview" %})</span>{% endif %}
            </div>
        </div>
        <div class="text">
            {{ comment.text }}
        </div>
        {% if not is_preview %}<a class="response_link" href="#" onclick="reply({{ comment.id }}); return false;">{% trans "reply" %}</a>{% endif %}
        {% if not is_preview %}<div class="reply_form" style="display:none;"></div>{% endif %}
    </div>
</div>