{% if not form_GET %}
    {% csrf_token %}
{% endif %}
{% for field in form %}
    {% if field.errors %}
        <div class="field_e">
            {% if not without_labels %}<div class="field_label">{{ field.label_tag }}</div>{% endif %}
            <div class="field_act right_tip" title="{{ field.help_text }}">
                {{ field }}
                {% for err in field.errors %}
                    <span class="field_error">{{ err }}&nbsp;</span>
                {% empty %}
                    <span class="field_error"></span>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="field{% if field.is_hidden %}_hidden{% endif %}">
            {% if not field.is_hidden and not without_labels %}
                <div class="field_label">{{ field.label_tag }}</div>
            {% endif %}
            <div class="field_act right_tip" title="{{ field.help_text }}">
                {{ field }}
                {% for err in field.errors %}
                    <span class="field_error" style="display: none;">{{ err }}&nbsp;</span>
                {% empty %}
                    <span class="field_error"></span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}