{% extends "base/base.html" %}
{% block styles_includes %}
    <link href="{{ STATIC_URL }}styles/wysiwyg.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}styles/forms.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}styles/blog_add.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    {% include "core/highlight.html" %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/wysiwyg.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/post.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $("#w_panel").insertBefore($("textarea#id_text")).show();
            SWYG.init($("textarea#id_text"));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="add_form">
        {% block add_form %}
        {% endblock %}
        <div id="w_panel" style="display: none;">
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertTag('b');">
                    <i class="icon-bold"></i>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertTag('i');">
                    <i class="icon-italic"></i>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertTag('u');">
                    <span style="text-decoration: underline">U</span>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertImage();">
                    <i class="icon-picture"></i>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertTag('code');">
                    <i class="icon-edit"></i>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertTag('center');">
                    <i class="icon-align-center"></i>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="#" onclick="return SWYG.insertLink();">
                    <i class="icon-share"></i>
                </a>
            </li>
        </div>
    </div>
{% endblock %}

{% block tools %}
    {% include "blog/add/menu.html" %}
{% endblock %}
