{% extends "blog/add/base.html" %}
{% load i18n %}
{% block title %}{% trans "Link edit" %}{% endblock %}
{% block styles_includes %}
    <link href="{{ STATIC_URL }}styles/forms.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}styles/blog_add.css" rel="stylesheet">
{% endblock %}

{% block add_form %}
    <div class="al_form_container">
        <div class="header">
            {% if update %}
                {% trans "Editing link" %} - {{ post.title }}
            {% else %}
                {% trans "Adding link to" %} {{ blog }}
            {% endif %}
        </div>
        <form method="POST" action="{% if update %}/blog/link/{{ post.id }}/edit/{% else %}/blog/add/link/{% endif %}" class="al_form" enctype="multipart/form-data">
            {% with form=form_al %}
                {% include "forms/render_form.html" %}
            {% endwith %}
            <div class="form_buttons">
                <button type="submit">
                    {% if update %}
                        {% trans "Edit" %}
                    {% else %}
                        {% trans "Publish" %}
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}

