{% load i18n %}
<div class="menu_add">
    <li>
        <a href="/blog/{{ blog.id }}/add/post/">{% trans "Add post" %}</a>
    </li>
    <li>
        <a href="/blog/{{ blog.id }}/add/link/">{% trans "Add link" %}</a>
    </li>
    <li>
        <a href="/blog/{{ blog.id }}/add/image/">{% trans "Add image" %}</a>
    </li>
    <li>
        <a href="/blog/{{ blog.id }}/add/audio/">{% trans "Add audio" %}</a>
    </li>
    <li>
        <a href="/blog/{{ blog.id }}/add/video/">{% trans "Add video" %}</a>
    </li>
    <li>
        <a href="/blog/{{ blog.id }}/add/note/">{% trans "Add note" %}</a>
    </li>
</div>