{% extends "blog/add/base.html" %}
{% load i18n %}
{% block title %}{% trans "Post edit" %}{% endblock %}


{% block add_form %}
    <div class="ap_form_container">
        <div class="header">
            {% if update %}
                {% trans "Post editing" %} - {{ post.title }}
            {% else %}
                {% trans "Add post to" %} {{ blog }}
            {% endif %}
        </div>
        <form method="POST" action="." class="ap_form" enctype="multipart/form-data">
            {% with form=form_add %}
                {% include "forms/render_form.html" %}
            {% endwith %}
            <div class="form_buttons">
                <button id="write_button">
                    {% if update %}
                        {% trans "Edit" %}
                    {% else %}
                        {% trans "Publish" %}
                    {% endif %}
                </button>
                <button id="preview_button">
                    {% trans "Preview" %}
                </button>
            </div>
            <div class="preview_place" style="display: none;"></div>
        </form>
    </div>
{% endblock %}
